<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.TestAlerts"/>
      <class name="com.test.TestngPriorityProgram"/>
      <class name="com.test.dropdown"/>
      <class name="com.test.APPtest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
